body {MARGIN:0px;PADDING:0px;background-color: #fff;	font-family:"宋体";font-size: 12px;}
A:link {color: #333;text-decoration: none;}
A:visited {color: #333;text-decoration: none;}
A:hover {color: #03b;text-decoration: none;}
li { list-style:none}
.rfloat{float:right;}
.lfloat{float:left;}
.clear{clear:both;}

textarea{
	overflow:auto;
	width:350;
	height:100px
}

textarea.ConstSet {
    color: #8BE;
	border:#8BE 1px ridge ;
	background-color: #eee;
}
.txt{
	COLOR: #111; 
	CURSOR: text; 
	FONT-FAMILY:"ËÎÌå","Arial"; 
	FONT-SIZE: 9px;
	BORDER: #666 1px solid;
	PADDING: 2px;
}
.btn {
	border-left: #fff 1px ridge; 
	border-right: #333 1px ridge; 
	border-top: #fff 1px ridge; 
	border-bottom: #1c1c1c 1px ridge; 
    font-family:"ËÎÌå";
	font-size: 12px;
    color: #333; 
	background-color: #EBF2F9; 
	cursor: hand; 
}
.inp{
	COLOR:#333; 
	FONT-FAMILY:"Arial"; 
	FONT-SIZE:12px; 
	HEIGHT:20px; 
	WIDTH:280px;
}

img { border:0px};


/*网站栏目管理页面样式*/
#SiteSort {width:800; margin:25px auto;}
/*#SiteSort h3 {height:22px;line-height:22px;margin:0px;padding:0px;font: normal 12px Tahoma;border-bottom:#ccc 1px solid;text-align:left;clear: both;}*/
#SiteSort div{margin-left:25px;}
#SiteSort h3{margin:0px;padding:0px;height: 25px;line-height:25px; display:block;}
#SiteSort h3 b{	height: 25px;line-height:25px;width: 200px;	display: inline-block;cursor:pointer;}
#SiteSort h3 a{vertical-align:middle;font: normal 12px '宋体';}


#navigation {text-align:center;height:50px;background-color: #069;padding:10px 25px 0px;}
#navigation #menu {margin:0px;height: 18px;margin: 0px;overflow: hidden;}
#navigation #menu li{height:18px;line-height:18px;}
#navigation #menu li a{ display:inline-block; padding-left:15px;}
#navigation #column{height:20px;margin: 0px;height: 20px;display: inline;}
#navigation #column li {width: 80px;float: left;height: 20px;line-height: 20px;}
a.btn {
	background: #c2ce0b; /* Old browsers */
	background: -moz-linear-gradient(top,  #c2ce0b 0%, #7a9405 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c2ce0b), color-stop(100%,#7a9405)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c2ce0b 0%,#7a9405 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c2ce0b 0%,#7a9405 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c2ce0b 0%,#7a9405 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c2ce0b 0%,#7a9405 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2ce0b', endColorstr='#7a9405',GradientType=0 ); /* IE6-9 */
	border:none;
	border-top:2px solid #e1e1e1;
	color:#ffffff;
	text-shadow:0 1px 1px #2b2b2b;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#pagbar{margin:20px 25px;}
#pagbar a{text-decoration:none;padding:2px; margin-right:10px;font: normal 12px Arial;}

#pagbar a.genr {
	background: #979797; /* Old browsers */
	background: -moz-linear-gradient(top,  #979797 0%, #444444 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#979797), color-stop(100%,#444444)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #979797 0%,#444444 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #979797 0%,#444444 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #979797 0%,#444444 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #979797 0%,#444444 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#979797', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
	border:none;
	border-top:2px solid #e1e1e1;
	color:#ffffff;
	text-shadow:0 1px 1px #2b2b2b;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
#pagbar a.active {
	background: #c2ce0b; /* Old browsers */
	background: -moz-linear-gradient(top,  #c2ce0b 0%, #7a9405 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c2ce0b), color-stop(100%,#7a9405)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c2ce0b 0%,#7a9405 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c2ce0b 0%,#7a9405 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c2ce0b 0%,#7a9405 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c2ce0b 0%,#7a9405 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2ce0b', endColorstr='#7a9405',GradientType=0 ); /* IE6-9 */
	border:none;
	border-top:2px solid #e1e1e1;
	color:#ffffff;
	text-shadow:0 1px 1px #2b2b2b;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
